:root{
    --background:#f2f2f2;
    --color: #fff;
    --back-num: #444;
    --back-operador:#ff9500;
    --back-igual:#28a745;
    --back-limpar:#dc3545;
    --shadow: 0 0 10px #000;
    --back-calculadora: #222;
}